@use '../util/' as *;
@use '../base/' as *;
@use '../layout' as *;

.img-top {
  width: rem(440);
  margin-inline: auto;
}

.img-top img {
  width: rem(440);
  margin-inline: auto;
}

.menu {
  background-color: hsl(0, 11%, 93%);
  border-radius: rem(35) rem(35) 0 0;
  position: relative;
  top: -70;
  margin-bottom: -70;
  width: rem(440);
  margin-inline: auto;
  padding: rem(20);
}

.titre-menu h2 {
  font-family: $title-font;
  font-size: rem(28);
  margin: 0;
  padding: rem(20) rem(5);
}

.titre-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.titre-menu i {
  position: relative;
  left: -15;
}
.menu h4 {
  text-transform: uppercase;
  font-weight: 300;
}

.menu hr {
  border: solid $tertiary 2px;
  width: rem(40);
  position: relative;
  left: -180;
  top: -15;
}

.liste {
  width: rem(400);
  background: #fff;
  border-radius: rem(15);
  //   margin-inline: auto;
}

.choix-1 {
  display: flex;
  justify-content: space-between;
  margin-bottom: rem(20);
}

.choix-1 h5,
.choix-1 p {
  margin: 0;
}
.choix-1 h5 {
  font-size: rem(20);
  padding: rem(10) rem(10) rem(10) rem(15);
}

.choix-1 p {
  padding: 0 0 rem(10) rem(15);
}

.prix {
  position: relative;
  top: 45;
  right: 18;
}

.liste {
  .check .fa-solid {
    overflow: hidden;
    &:hover {
      background-color: $tertiary;
      color: #fff;
      position: relative;
      right: -1;
      padding: rem(30);
      border-radius: 0 rem(15) rem(15) 0;
    }
  }
}
