@use '../util/' as *;
@use '../base/' as *;

.btn {
  &:hover {
    cursor: pointer;
  }
  i {
    color: grey;
    margin-right: rem(30);
  }

  &__main {
    color: #fff;
    background: linear-gradient(0.48turn, $secondary, $primary);
    padding: rem(15);
    font-size: rem(16);
    border: transparent;
    border-radius: rem(40);
    box-shadow: rem(5) rem(5) rem(5) hsla(0, 0%, 0%, 0.137);
    &:hover {
      transform: scale(1.2);
    }
  }
  &__fonction {
    color: inherit;
    background-color: hsl(0, 17%, 98%);
    padding: rem(20);
    font-size: rem(16);
    border: transparent;
    border-radius: rem(15);
    margin: rem(20);
    box-shadow: rem(5) rem(5) rem(5) hsla(0, 0%, 0%, 0.137);
    width: rem(330);
    height: rem(70);
    position: relative;
    &:hover {
      background-color: rgba(146, 86, 220, 0.123);
      i {
        color: $primary;
      }
    }
  }
}

.btn span {
  padding: rem(5) rem(9);
  background-color: $primary;
  color: #fff;
  border-radius: rem(50);
  position: absolute;
  left: rem(-10);
  top: rem(25);
}

.fa-mobile-screen {
  margin-left: rem(-15);
}

.btn-commander {
  display: flex;
  margin: rem(40) 0;
}

.commander {
  width: 200px;
  margin-inline: auto;
}
