@use '../util/' as *;

.localisation {
  display: flex;
  justify-content: center;
}

.reservation {
  text-align: center;
  padding: rem(45);
}

.reservation h1 {
  max-width: rem(600);
  margin-inline: auto;
  margin-top: 0;
  font-size: rem(28);
}

.reservation p {
  max-width: rem(600);
  margin-inline: auto;
}

.fonctionnement .button {
  text-align: center;
  padding: rem(20);
}
