@use '../util/' as *;
@use '../base/' as *;

.restaurant img {
  width: rem(340);
  height: rem(180);
  object-fit: cover;
  border-radius: rem(20) rem(20) 0 0;
}

.restaurant {
  padding: rem(20) 0;
}

.card {
  width: rem(340);
  background-color: #fff;
  border-radius: rem(20);
  margin-inline: auto;
  margin-bottom: rem(25);
  position: relative;
}

.card span {
  width: rem(85);
  background-color: $tertiary;
  padding: rem(10);
  border-radius: rem(5);
  color: #218a70;
  position: absolute;
  left: 242;
  bottom: 198;
}

.description {
  display: flex;
  justify-content: space-between;
  margin: rem(5);
}

.description h4,
.description p {
  margin: rem(10);
}

.coeur {
  margin: rem(15);
  cursor: pointer;
  border: none;
  background-color: white;
  &:focus .fa-heart {
    background-clip: text;
    -webkit-background-clip: text;
    animation: remplissage 0.3s forwards;
    -webkit-text-stroke-width: 0;
  }
  &:visited fa-heart {
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(175deg, $secondary, $primary);
  }
}

.fa-heart {
  font-size: rem(28);
  color: transparent;
  left: rem(-45);
  top: rem(-1);
  -webkit-text-stroke-width: rem(1);
  -webkit-text-stroke-color: black;
}

@keyframes remplissage {
  0% {
    background-image: linear-gradient(175deg, transparent 100%);
  }
  5% {
    background-image: linear-gradient(
      175deg,
      transparent 70%,
      $secondary 1%,
      $primary 2%
    );
  }
  10% {
    background-image: linear-gradient(
      175deg,
      transparent 90%,
      $secondary 5%,
      $primary 5%
    );
  }
  15% {
    background-image: linear-gradient(
      175deg,
      transparent 85%,
      $secondary 7%,
      $primary 8%
    );
  }
  20% {
    background-image: linear-gradient(
      175deg,
      transparent 80%,
      $secondary 10%,
      $primary 10%
    );
  }
  25% {
    background-image: linear-gradient(
      175deg,
      transparent 75%,
      $secondary 12%,
      $primary 13%
    );
  }
  30% {
    background-image: linear-gradient(
      175deg,
      transparent 70%,
      $secondary 15%,
      $primary 15%
    );
  }
  35% {
    background-image: linear-gradient(
      175deg,
      transparent 65%,
      $secondary 17%,
      $primary 18%
    );
  }
  40% {
    background-image: linear-gradient(
      175deg,
      transparent 60%,
      $secondary 20%,
      $primary 20%
    );
  }
  45% {
    background-image: linear-gradient(
      175deg,
      transparent 55%,
      $secondary 22%,
      $primary 23%
    );
  }
  50% {
    background-image: linear-gradient(
      175deg,
      transparent 50%,
      $secondary 25%,
      $primary 25%
    );
  }
  55% {
    background-image: linear-gradient(
      175deg,
      transparent 45%,
      $secondary 27%,
      $primary 28%
    );
  }
  60% {
    background-image: linear-gradient(
      175deg,
      transparent 40%,
      $secondary 30%,
      $primary 30%
    );
  }
  65% {
    background-image: linear-gradient(
      175deg,
      transparent 35%,
      $secondary 32%,
      $primary 33%
    );
  }
  70% {
    background-image: linear-gradient(
      175deg,
      transparent 30%,
      $secondary 35%,
      $primary 35%
    );
  }
  75% {
    background-image: linear-gradient(
      175deg,
      transparent 25%,
      $secondary 37%,
      $primary 38%
    );
  }
  80% {
    background-image: linear-gradient(
      175deg,
      transparent 20%,
      $secondary 40%,
      $primary 40%
    );
  }
  85% {
    background-image: linear-gradient(
      175deg,
      transparent 15%,
      $secondary 42%,
      $primary 43%
    );
  }
  90% {
    background-image: linear-gradient(
      175deg,
      transparent 10%,
      $secondary 45%,
      $primary 45%
    );
  }
  95% {
    background-image: linear-gradient(
      175deg,
      transparent 5%,
      $secondary 47%,
      $primary 48%
    );
  }
  100% {
    background-image: linear-gradient(175deg, $secondary, $primary);
  }
}
