@use '../base/' as *;
@use '../util/' as *;

.titre-footer h3 {
  font-family: $title-font;
  color: #fff;
}

footer p {
  color: #fff;
}

.footer-container {
  padding: rem(20);
  max-width: rem(1300);
  margin-inline: auto;
  position: relative;
}

footer .fa-utensils {
  margin-right: 15px;
}

footer .fa-handshake-angle {
  margin-right: 8px;
}

footer p,
footer h3 {
  margin-top: 0;
}
