@use '../util/' as *;

$font: "Roboto", sans-serif;
$title-font: "Shrikhand", cursive;

html {
  font-family: $font;
}

p {
  font-weight: 300;
}

h2 {
  margin-left: rem(25);
}

.localisation h3 {
  font-weight: 400;
}
